name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "27.1.2"
          gleam-version: "1.13.0"
          rebar3-version: "3"
      - run: gleam deps download
      - run: gleam test --target=erl
      - run: gleam test --target=js --runtime=node
      - run: gleam test --target=js --runtime=deno
      - run: gleam test --target=js --runtime=bun
      - run: gleam run -m birdie stale check
      - run: gleam format --check src test
