name: Test

on:
  push:
    branches:
      - main
  pull_request:
  workflow_call:

jobs:
  test:
    uses: TanklesXL/gleam_actions/.github/workflows/test.yaml@main
    with:
      gleam_version: 1.5.1
      test_node: false
      test_erlang: true
